[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
Assets/StreamingAssets/aa.meta
.DS_Store
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.unitypackage
.vscode/
.idea/

# OS generated
Thumbs.db
ehthumbs.db
.DS_Store
*.apk
*.aab

# Rider
*.sln.iml
